<!DOCTYPE html>
<html>
    <head>
        <base href="{{ base_url }}" />
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets  %}
            <link rel="stylesheet" href="/assetic/bootstrap_css.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
        {% endblock %}
    </head>
    <body>
        <div class="container">
            {% include 'default/partials/notifications.html.twig' %}
            {% block body %}{% endblock %}
        </div>
        
        {% block javascripts %} 
            <script type="text/javascript" src="/assetic/jquery.js"></script>
            <script type="text/javascript" src="/assetic/bootstrap_js.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
        {% endblock %}
    </body>
</html>
