{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-lg-12">
        <div class="col-lg-4">
            <form action="{{ url('saveCities') }}" class="submit-cities">
                <h2 class="form-signin-heading">Cities save form</h2>
                <select id="cities" class="selectpicker" multiple data-live-search="true">
                    {% for city in cities %}
                        <option value="{{ city.id }}" data-tokens="{{ city.name }}">{{ city.name }}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
            </form>  
        </div>
        <div class="col-lg-8">
            <h2>Selected cities history</h2>    
            {% include 'default/partials/savesTable.html.twig' %}        
        </div>
    </div>   
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .bootstrap-select {
            width: 100% !important;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/assetic/main.js"></script>
{% endblock %}
