<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Selected cities</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for save in saves %}
            <tr>
                <td>{{ save.id }}</td>
                <td>{{ save.username }}</td>
                <td>
                    {% for city in save.cities %}
                        {{ city.city_name }} <br/>
                    {% endfor %}
                </td>
                <td>{{ save.save_time }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>